Source: umts-panel2
Section: net
Priority: extra
Maintainer: Chris Hildebrandt <slam@aptosid.com>
Build-Depends: debhelper (>= 7.9.3)
Standards-Version: 3.9.1
Vcs-Svn: svn://lab.aptosid.com/svn/lxde/umts-panel2/trunk
Vcs-Browser: http://lab.aptosid.com/lxde/browser/umts-panel2/trunk

Package: umts-panel2
Architecture: all
Replaces: umts-panel,umts-panel-data
Conflicts: umts-panel,umts-panel-data
Recommends: usb-modeswitch
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python,
 python-gtk2,
 python-gobject,
 menu,
 wvdial,
 usb-modeswitch,
 mobile-broadband-provider-info
Description: wireless internet over GPRS/UMTS/3G
 python GTK program for wireless internet over GPRS/UMTS/3G,
 it is based on wvdial and usb-modeswitch.
